__pycache__/
.coverage
.django_content_services_venv/
.DS_Store
.env_docker
.idea/
.vagrant
.vscode/
*.log
*.pyc
/static
ansible_playbook.retry
content_services/cover
default_db.sqlite
django_content_services_env/
Pipfile
Pipfile.lock
static_files/css/*.css
